<phpunit bootstrap="bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">

    <selenium>
        <!--browser name="Internet Explorer" browser="*iexplore" /-->
        <browser name="Firefox" browser="*firefox" />
        <browser name="Google Chrome" browser="*googlechrome " />
    </selenium>

    <testsuites>
        <testsuite name="api-hangman">
            <directory>Hangman/Test/</directory>
        </testsuite>
    </testsuites>
</phpunit>